[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-slugify = "*"
spacy = "*"
python-dotenv = "*"
yake = "*"
nltk = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
